doctype xml
doctype plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version='1.0')
    dict
        key PayloadContent
        array
          dict
            key PayloadDisplayName
            string Email Settings
            key PayloadType
            string com.apple.mail.managed
            key PayloadVersion
            integer 1
            key PayloadUUID
            string= email
            //string 3148015b-8262-48f2-9917-bb0aca4b47e4
            key PayloadIdentifier
            string net.zoominternet.iPhone.settings.email
            key EmailAccountDescription
            string Zoominternet
            key EmailAccountName
            string= name
            //string iOS Payload
            key EmailAccountType
            string= serverType
            key EmailAddress
            string= email
            //string iospayload@zoominternet.net
            key IncomingMailServerAuthentication
            string EmailAuthPassword
            key IncomingMailServerHostName
            string imap.zoominternet.net
            key IncomingMailServerPortNumber
            real= incomingPort
            key IncomingMailServerUseSSL
            false
            key IncomingMailServerUsername
            string= username
            //string iospayload
            key OutgoingMailServerHostName
            string smtp.zoominternet.net
            key OutgoingMailServerPortNumber
            real 25
            key OutgoingMailServerAuthentication
            string EmailAuthPassword
            key OutgoingMailServerUseSSL
            false
            key OutgoingMailServerUsername
            string= username
            key OutgoingPasswordSameAsIncomingPassword
            true
            //string iospayload
        key PayloadOrganization
        string Armstrong
        key PayloadDisplayName
        string Armstrong automatic email setup
        key PayloadVersion
        integer 1
        key PayloadUUID
        string= email
        //string 3148015b-8262-48f2-9917-bb0aca4b47e4
        key PayloadIdentifier
        string net.zoominternet.iPhone.emailSettings
        key PayloadDescription
        string Sets up Armstrong IMAP email on the device.
        key PayloadType
        string Configuration
